In [1]:
import pandas as pd

# Read the training data, train_idx is the index of the training data
train = pd.read_csv('../data/train_cleaned.csv', parse_dates=True)
train.head()

,train_idx,Time,Open,High,Low,Close,Volume,label,valid,outlier,valid2
0,3,2007-03-11,1.31236,1.31415,1.31068,1.31175,192381.00000,1,True,False,True
1,9,2007-03-18,1.33064,1.33241,1.33064,1.33204,186953.00000,1,True,False,True
2,15,2007-03-25,1.32801,1.32933,1.32571,1.32689,206877.00000,1,True,False,True
3,21,2007-04-01,1.33710,1.33770,1.33312,1.33402,83435.00000,1,True,False,True
4,25,2007-04-05,1.33720,1.34410,1.33525,1.34225,157243.19986,0,False,False,True

In [2]:
# Drop train_idx, Time, valid, outlier and valid2 columns
train.drop(['train_idx','Time','valid', 'outlier', 'valid2'], axis=1, inplace=True)
train.head()

      Open     High      Low    Close        Volume  label
0  1.31236  1.31415  1.31068  1.31175  192381.00000      1
1  1.33064  1.33241  1.33064  1.33204  186953.00000      1
2  1.32801  1.32933  1.32571  1.32689  206877.00000      1
3  1.33710  1.33770  1.33312  1.33402   83435.00000      1
4  1.33720  1.34410  1.33525  1.34225  157243.19986      0

In [3]:
# Import scikit-learn libraries for a naive-bayes classifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

# Create a naive-bayes classifier
gnb = GaussianNB()

# Train the classifier with the training data
gnb.fit(train.drop('label', axis=1), train['label'])

GaussianNB()

In [4]:
# Read the test data, test_idx is the index of the test data
test = pd.read_csv('../data/testing_set.csv')
test.head()

   test_idx                 Time     Open     High      Low    Close  Volume
0         0  2018-05-29 00:00:00  1.16271  1.16394  1.15099  1.15343  336090
1         1  2018-05-30 00:00:00  1.15342  1.16759  1.15186  1.16627  318421
2         2  2018-05-31 00:00:00  1.16627  1.17243  1.16410  1.16938  285788
3         3  2018-06-01 00:00:00  1.16937  1.17178  1.16170  1.16584  253533
4         4  2018-06-03 00:00:00  1.16561  1.16794  1.16561  1.16757   14803

In [5]:
# Drop test_idx and Time columns
test.drop(['test_idx','Time'], axis=1, inplace=True)
test.head()

      Open     High      Low    Close  Volume
0  1.16271  1.16394  1.15099  1.15343  336090
1  1.15342  1.16759  1.15186  1.16627  318421
2  1.16627  1.17243  1.16410  1.16938  285788
3  1.16937  1.17178  1.16170  1.16584  253533
4  1.16561  1.16794  1.16561  1.16757   14803

In [6]:
# Predict the labels of the test data
pred = gnb.predict(test)

In [7]:
# Create a dataframe with the test_idx and the predicted labels
pred_df = pd.DataFrame({'test_idx':test.index, 'label':pred})
pred_df.head()

   test_idx  label
0         0      1
1         1      1
2         2      1
3         3      1
4         4      0

In [9]:
# Save the dataframe as a JSON file, the test_idx column values is the index of the test data
pred_df.to_json('../data/predsNB.json', index=True)

F1-Score is bad (0.454)

___