# Nuwe Challenges - Script Kiddies

#### Import Data

First the train and test data are imported using Pandas library.

In [ ]:
import pandas as pd

:

Using the *read_csv()* function of this library, the training and test files are read.

In [4]:
train_source = pd.read_csv("train.csv")
train_source

       idx_train                                           path_img  label
0              0  all_imgs/bc7696f4-1460-4d0b-a63d-f84b3be4da0f....      0
1              1  all_imgs/f8d50663-60d8-4da5-a8b8-79f954aec503....      2
2              2  all_imgs/51df0f29-758b-4741-ab74-a0ff8e21c044....      4
3              3  all_imgs/f61b81d3-3b79-4162-b4d6-4f1b39518c4c....      0
4              4  all_imgs/b21e0668-bd09-4794-9e90-da8ecffc4c1c....      0
...          ...                                                ...    ...
11195      11195  all_imgs/b834c3fa-4fb0-4e38-ae32-7fd4a4141fe6....      2
11196      11196  all_imgs/b93165ab-a87d-4ee1-8360-9b9728a3fc4b....      6
11197      11197  all_imgs/a130fcbb-2b90-4922-b1e2-4770fddf6b91....      5
11198      11198  all_imgs/bf402d68-ca0b-47f2-86f9-6e81d4bdbb38....      7
11199      11199  all_imgs/a609a4a1-bd42-4053-9de7-5e94a812425b....      0

[11200 rows x 3 columns]

In [5]:
test_source = pd.read_csv("test.csv")
test_source

      idx_test                                           path_img  label
0            0  all_imgs/ec4c75ba-e064-4ed0-a7b1-3ed899424110....      6
1            1  all_imgs/114fb94d-3223-4d95-b6d1-f6a6ac206ea2....      2
2            2  all_imgs/a80e7e27-a25a-40aa-a65c-a29bfa172b3d....      6
3            3  all_imgs/7848d24e-207a-4236-9cd7-df78122d8787....      6
4            4  all_imgs/57f726bc-d141-42fb-88fa-60d554499277....      5
...        ...                                                ...    ...
4795      4795  all_imgs/5ad5bee4-c18b-48b7-921a-f10ee9a17ad1....      1
4796      4796  all_imgs/99ec9e46-6bff-463c-af86-6b38aecb9a39....      2
4797      4797  all_imgs/9ab954c9-8f13-4270-9b66-e669169b1f4f....      3
4798      4798  all_imgs/f41894e0-bed2-4b47-a8bc-2bab477d8ee7....      7
4799      4799  all_imgs/d98e1059-0f69-460f-822b-f73e5a50804e....      1

[4800 rows x 3 columns]

Both the train and test datasets have an index column called idx_train and idx_test, respectively.

Being purely that, indices, and since there is already one by default for each dataframe, they can be removed using the *drop()* function.

In [6]:
train = train_source.drop("idx_train", axis = 1)
train

                                                path_img  label
0      all_imgs/bc7696f4-1460-4d0b-a63d-f84b3be4da0f....      0
1      all_imgs/f8d50663-60d8-4da5-a8b8-79f954aec503....      2
2      all_imgs/51df0f29-758b-4741-ab74-a0ff8e21c044....      4
3      all_imgs/f61b81d3-3b79-4162-b4d6-4f1b39518c4c....      0
4      all_imgs/b21e0668-bd09-4794-9e90-da8ecffc4c1c....      0
...                                                  ...    ...
11195  all_imgs/b834c3fa-4fb0-4e38-ae32-7fd4a4141fe6....      2
11196  all_imgs/b93165ab-a87d-4ee1-8360-9b9728a3fc4b....      6
11197  all_imgs/a130fcbb-2b90-4922-b1e2-4770fddf6b91....      5
11198  all_imgs/bf402d68-ca0b-47f2-86f9-6e81d4bdbb38....      7
11199  all_imgs/a609a4a1-bd42-4053-9de7-5e94a812425b....      0

[11200 rows x 2 columns]

In [7]:
test = test_source.drop("idx_test", axis = 1)
test

                                               path_img  label
0     all_imgs/ec4c75ba-e064-4ed0-a7b1-3ed899424110....      6
1     all_imgs/114fb94d-3223-4d95-b6d1-f6a6ac206ea2....      2
2     all_imgs/a80e7e27-a25a-40aa-a65c-a29bfa172b3d....      6
3     all_imgs/7848d24e-207a-4236-9cd7-df78122d8787....      6
4     all_imgs/57f726bc-d141-42fb-88fa-60d554499277....      5
...                                                 ...    ...
4795  all_imgs/5ad5bee4-c18b-48b7-921a-f10ee9a17ad1....      1
4796  all_imgs/99ec9e46-6bff-463c-af86-6b38aecb9a39....      2
4797  all_imgs/9ab954c9-8f13-4270-9b66-e669169b1f4f....      3
4798  all_imgs/f41894e0-bed2-4b47-a8bc-2bab477d8ee7....      7
4799  all_imgs/d98e1059-0f69-460f-822b-f73e5a50804e....      1

[4800 rows x 2 columns]

Any column in both datasets is checked for null data using *isnull().sum()*, which will return the number of nulls in each of the columns.

In [8]:
train.isnull().sum()

path_img    0
label       0
dtype: int64

In [9]:
test.isnull().sum()

path_img    0
label       0
dtype: int64

After checking that there are no nulls, we will proceed to investigate more about the "label" attribute, which will be the label to predict for each of the images whose paths are stored in the "path_img" column.

In [8]:
train.label.unique()

array([0, 2, 4, 7, 5, 1, 6, 3], dtype=int64)

It can be seen that there are a total of 8 different categories for the label. After investigating a little more when exploring the content of the images, it has been possible to deduce that the following is the meaning interpreted for each of the categories:
- 0 ~> Burgers
- 1 ~> Chicken wings
- 2 ~> Donuts
- 3 ~> French fries
- 4 ~> Hot Dogs
- 5 ~> Pizza
- 6 ~> Sandwiches
- 7 ~> Roast potatoes

This interpretation is only to understand the categories. They will not be mapped since the delivery must have the same format for the targets as the initial datasets.