# Retos Nuwe - Script Kiddies

### Reto 1: Reconocimiento de im√°genes

#### üìñ Contexto

ENLACE COMPETICI√ìN ~> https://nuwe.io/dev/competitions/reto-ensena-oracle-espana

En 2024, NUWE unir√° tecnolog√≠a y restauraci√≥n lanzando en Espa√±a la cadena de restaurantes del futuro: ‚ÄúNUWE EVA‚Äù. En ‚ÄúNUWE EVA" podr√°s elegir de entre un gran abanico de deliciosos platos que a simple vista parecer√°n la t√≠pica comida fast food, pero que estar√°n elaborados con los mejores ingredientes para que puedas disfrutar del mejor sabor y de la mejor calidad. Estar√°s comiendo en el restaurante healthy del momento. Y eso no es todo. Nuestro robot y talentoso camarero, ‚ÄúEVA‚Äù, os atender√° con gusto para ofreceros la mejor experiencia. (Caso ficticio)

#### üéØ Objetivo:
Crea una clasificaci√≥n de alimentos que est√©n o estar√°n presentes en nuestra carta, para que nuestro robot ‚ÄúEVA‚Äù pueda detectar lo que pedir√°n los comensales. Aqu√≠ tienes el data set para el desarrollo de tu reto.


#### üíØ Evaluaci√≥n:
La evaluaci√≥n y puntuaci√≥n de este primer reto se evaluar√° con el criterio de F1-score macro.

La limitaci√≥n que existe en este reto son las tecnicas de Transfer Learning, se tiene que programar la red neuronal y entrenar de forma manual. Adem√°s, de que el uso de datos externos tambi√©n se ver√° penalizado incluso desqualifiado para la competici√≥n.


#### ‚úÖ Formato de entrega
Para el archivo que tiene que enviar le presentamos una plantilla de ejemplo de c√≥mo tiene que ser el JSON:

JSON template: https://storage.googleapis.com/challenges_events/01_2023/Vueling/Data/Vueling_F1/template.json

En este fichero JSON es muy importante aclarar lo siguiente: Debes indicar la clave objetivo de c√≥mo se visualiza; el valor ser√° el JSON de los resultados del modelo de predicci√≥n. En estas predicciones la clave corresponder√° a la fila con el idx_test y el valor ser√° la predicci√≥n realizada por tu modelo.

### Procedimiento
#### Importaci√≥n de los datos

Primero se importar√°n los datos de train y test. Para ello se har√° uso de la librer√≠a Pandas.

In [1]:
import pandas as pd

Usando la funci√≥n *read_csv()* de esta librer√≠a, se leen los ficheros de entrenamiento y testeo.

In [4]:
train_source = pd.read_csv("train.csv")
train_source

       idx_train                                           path_img  label
0              0  all_imgs/bc7696f4-1460-4d0b-a63d-f84b3be4da0f....      0
1              1  all_imgs/f8d50663-60d8-4da5-a8b8-79f954aec503....      2
2              2  all_imgs/51df0f29-758b-4741-ab74-a0ff8e21c044....      4
3              3  all_imgs/f61b81d3-3b79-4162-b4d6-4f1b39518c4c....      0
4              4  all_imgs/b21e0668-bd09-4794-9e90-da8ecffc4c1c....      0
...          ...                                                ...    ...
11195      11195  all_imgs/b834c3fa-4fb0-4e38-ae32-7fd4a4141fe6....      2
11196      11196  all_imgs/b93165ab-a87d-4ee1-8360-9b9728a3fc4b....      6
11197      11197  all_imgs/a130fcbb-2b90-4922-b1e2-4770fddf6b91....      5
11198      11198  all_imgs/bf402d68-ca0b-47f2-86f9-6e81d4bdbb38....      7
11199      11199  all_imgs/a609a4a1-bd42-4053-9de7-5e94a812425b....      0

[11200 rows x 3 columns]

In [5]:
test_source = pd.read_csv("test.csv")
test_source

      idx_test                                           path_img  label
0            0  all_imgs/ec4c75ba-e064-4ed0-a7b1-3ed899424110....      6
1            1  all_imgs/114fb94d-3223-4d95-b6d1-f6a6ac206ea2....      2
2            2  all_imgs/a80e7e27-a25a-40aa-a65c-a29bfa172b3d....      6
3            3  all_imgs/7848d24e-207a-4236-9cd7-df78122d8787....      6
4            4  all_imgs/57f726bc-d141-42fb-88fa-60d554499277....      5
...        ...                                                ...    ...
4795      4795  all_imgs/5ad5bee4-c18b-48b7-921a-f10ee9a17ad1....      1
4796      4796  all_imgs/99ec9e46-6bff-463c-af86-6b38aecb9a39....      2
4797      4797  all_imgs/9ab954c9-8f13-4270-9b66-e669169b1f4f....      3
4798      4798  all_imgs/f41894e0-bed2-4b47-a8bc-2bab477d8ee7....      7
4799      4799  all_imgs/d98e1059-0f69-460f-822b-f73e5a50804e....      1

[4800 rows x 3 columns]

Tanto el dataset de train como el de test tienen una columna para el √≠ndice llamadas idx_train e idx_test, respectivamente.

Al ser puramente eso, √≠ndices, y al ya haber uno por defecto para cada dataframe, se pueden eliminar usando la funci√≥n *drop()*.

In [6]:
train = train_source.drop("idx_train", axis = 1)
train

                                                path_img  label
0      all_imgs/bc7696f4-1460-4d0b-a63d-f84b3be4da0f....      0
1      all_imgs/f8d50663-60d8-4da5-a8b8-79f954aec503....      2
2      all_imgs/51df0f29-758b-4741-ab74-a0ff8e21c044....      4
3      all_imgs/f61b81d3-3b79-4162-b4d6-4f1b39518c4c....      0
4      all_imgs/b21e0668-bd09-4794-9e90-da8ecffc4c1c....      0
...                                                  ...    ...
11195  all_imgs/b834c3fa-4fb0-4e38-ae32-7fd4a4141fe6....      2
11196  all_imgs/b93165ab-a87d-4ee1-8360-9b9728a3fc4b....      6
11197  all_imgs/a130fcbb-2b90-4922-b1e2-4770fddf6b91....      5
11198  all_imgs/bf402d68-ca0b-47f2-86f9-6e81d4bdbb38....      7
11199  all_imgs/a609a4a1-bd42-4053-9de7-5e94a812425b....      0

[11200 rows x 2 columns]

In [7]:
test = test_source.drop("idx_test", axis = 1)
test

                                               path_img  label
0     all_imgs/ec4c75ba-e064-4ed0-a7b1-3ed899424110....      6
1     all_imgs/114fb94d-3223-4d95-b6d1-f6a6ac206ea2....      2
2     all_imgs/a80e7e27-a25a-40aa-a65c-a29bfa172b3d....      6
3     all_imgs/7848d24e-207a-4236-9cd7-df78122d8787....      6
4     all_imgs/57f726bc-d141-42fb-88fa-60d554499277....      5
...                                                 ...    ...
4795  all_imgs/5ad5bee4-c18b-48b7-921a-f10ee9a17ad1....      1
4796  all_imgs/99ec9e46-6bff-463c-af86-6b38aecb9a39....      2
4797  all_imgs/9ab954c9-8f13-4270-9b66-e669169b1f4f....      3
4798  all_imgs/f41894e0-bed2-4b47-a8bc-2bab477d8ee7....      7
4799  all_imgs/d98e1059-0f69-460f-822b-f73e5a50804e....      1

[4800 rows x 2 columns]

Se comprueba que no haya datos nulos en ninguna columna de ambos datasets usando *isnull().sum()*, lo cual devolver√° la cantidad de nulos en cada una de las columnas.

In [8]:
train.isnull().sum()

path_img    0
label       0
dtype: int64

In [9]:
test.isnull().sum()

path_img    0
label       0
dtype: int64

Tras comprobar que no hay nulos, se proceder√° a investigar m√°s acerca del atributo "label", el cual ser√° la etiqueta a predecir para cada una de las im√°genes cuyas rutas est√°n guardadas en la columna "path_img".

In [8]:
train.label.unique()

array([0, 2, 4, 7, 5, 1, 6, 3], dtype=int64)

Se puede observar que hay un total de 8 categor√≠as distintas para la label. Tras investigar un poco m√°s al explorar el contenido de las im√°genes se ha podido deducir que el siguiente es el significado interpretado para cada una de las categor√≠as:
- 0 ~> Hamburguesas
- 1 ~> Alitas de pollo
- 2 ~> Donuts
- 3 ~> Patatas fritas
- 4 ~> Perritos calientes
- 5 ~> Pizzas
- 6 ~> S√°ndwiches
- 7 ~> Patatas asadas

Esta interpretaci√≥n es solamente para entender las categor√≠as. No se realizar√° un mapeo de las mismas puesto que la entrega deber√° tener el mismo formato para los target que los datasets iniciales.

#### Red neuronal
Para la red neuronal se utilizar√° la librer√≠a de TensorFlow, usando su m√≥dulo de Keras para crear un modelo de predicci√≥n de im√°genes.

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Flatten, Dense

c:\Users\crist\AppData\Local\Programs\Python\Python36\lib\site-packages\google\auth\crypt\_cryptography_rsa.py:22: CryptographyDeprecationWarning: Python 3.6 is no longer supported by the Python core team. Therefore, support for it is deprecated in cryptography and will be removed in a future release.
  import cryptography.exceptions

Se crea la red neuronal y se van a√±adiendo las diferentes capas que la compondr√°n.

In [17]:
model = Sequential()
model.add(Conv2D(32, (3, 3), activation='relu', input_shape=(64, 64, 3)))
model.add(Flatten())
model.add(Dense(1, activation='sigmoid'))

In [18]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

Definimos la variable predictora de train, x ("path_img"); y la variable a predecir, y ("label").

In [11]:
x_train = train["path_img"]
y_train = train["label"]

Se entrena el modelo con el conjunto de entrenamiento.

In [19]:
model.fit(x_train, y_train, epochs=10, batch_size=32)

Epoch 1/10
WARNING:tensorflow:Model was constructed with shape (None, 64, 64, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, 64, 64, 3), dtype=tf.float32, name='conv2d_2_input'), name='conv2d_2_input', description="created by layer 'conv2d_2_input'"), but it was called on an input with incompatible shape (32, 1).

ValueError: in user code:

    File "C:\Users\pablo\anaconda3\lib\site-packages\keras\engine\training.py", line 1249, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\pablo\anaconda3\lib\site-packages\keras\engine\training.py", line 1233, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\pablo\anaconda3\lib\site-packages\keras\engine\training.py", line 1222, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\pablo\anaconda3\lib\site-packages\keras\engine\training.py", line 1023, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\pablo\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\pablo\anaconda3\lib\site-packages\keras\engine\input_spec.py", line 250, in assert_input_compatibility
        raise ValueError(

    ValueError: Exception encountered when calling layer 'sequential_1' (type Sequential).

    Input 0 of layer "conv2d_2" is incompatible with the layer: expected min_ndim=4, found ndim=2. Full shape received: (32, 1)

    Call arguments received by layer 'sequential_1' (type Sequential):
      ‚Ä¢ inputs=tf.Tensor(shape=(32, 1), dtype=string)
      ‚Ä¢ training=True
      ‚Ä¢ mask=None

In [16]:
x_test = test["path_img"]
y_test = test["label"]

In [ ]:
score = model.evaluate(x_test, y_test)
print('Test loss:', score[0])
print('Test accuracy:', score[1])